.pokemon-name{
    font-size: x-large;
    color:black;
}
.pokemon-name > span{
    letter-spacing: 0.3rem;
    margin-top: 1rem;
}

.pokemon-types{
    display: flex;
    gap:3rem;
    font-size: larger;
}
.pokemon-types > div{
    border: 2px solid gainsboro;
    border-radius: 20px;
    padding:1rem;
    background-color: gainsboro;
}

/*  Do style as you want */
.pokemon-details-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}